  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['Home']" routerLinkActive="active">{{'NAV.HOME' | translate}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active" >{{'NAV.LOGIN'| translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['user-list']" routerLinkActive="active">{{'NAV.USERLIST'| translate}}</a>
      </li>
    </ul>

  </div>
    <button mat-raised-button color="primary" (click)="changeLanguage('ua')"  type="button">{{'BUTTON.lANG.UA'| translate}}</button>
    <button mat-raised-button color="primary"  (click)="changeLanguage('fr')" type="button">{{'BUTTON.lANG.FR' | translate}}</button>
</nav>
