.forms {
  width: 100%;
  display: flex;
  padding: 10%;
  flex-direction: column;
}

table {
  width: 100% !important;
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
}

.row {
  margin-top: 1rem;
}

.col-md-6 {
  flex: 1 0 auto;
  width: 30%;
}

.center {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.width {
  width: 5%;
  height: 3.5rem;
}
